In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('learner_books_close_events.csv')

In [7]:
len(df)

4930188

In [8]:
df

         learner_id             book_code  events_count
0                 5  BO-20140726013700796             2
1                 5  BO-20140726014014719             1
2                12  BO-20140726013738070             1
3                12  BO-20140726014932178             1
4                12  BO-20140726015056775             1
5                12  BO-20140726020007169             1
6                12  BO-20140726020132287             1
7                12  BO-20140726020155449             1
8                12  BO-20150417014720005             1
9                12  BO-20150417014720158             1
10               12  BO-20150417044756103             1
11               12  BO-20160122145947170            32
12               12  BO-20160122145947197             1
13               12  BO-20161026170734904             1
14               12  BO-20170718174924596             1
15               12  BO-20170721152203601             2
16               12  BO-20170821132107257             1
17               12  BO-20170823174451695             2
18               12  BO-20170823174451702             2
19               12  CT-20160316150550038             1
20               12  CT-20160324103235064             1
21               12  CT-20160324155220625             2
22               12  CT-20160324155305682             1
23               12  CT-20160324155308223             1
24               12  CT-20170228104821045             1
25               12  CT-20170228104831284             1
26               12  CT-20170228104844193             1
27               12  CT-20170725163922724             4
28               12  CT-20170725163928449             1
29               12  CT-20170828145335361             1
...             ...                   ...           ...
4930158      666886  CT-20160324155232897             1
4930159      666886  CT-20160324155302588             1
4930160      666886  CT-20160324155305682             1
4930161      666886  CT-20160324155308223             2
4930162      666886  CT-20161118150202875             2
4930163      666886  CT-20170728144119680             3
4930164      666886  CT-20170829175003233             6
4930165      666888  BO-20140726015057279             1
4930166      666888  BO-20140726015521623             1
4930167      666888  BO-20150417014719940             2
4930168      666888  BO-20150417014719992             1
4930169      666888  BO-20170627173817926             1
4930170      666888  CT-20160324155220625             1
4930171      666888  CT-20160324155232897             4
4930172      666888  CT-20160324155302588             1
4930173      666888  CT-20160324155305682             2
4930174      666888  CT-20160324155308223             2
4930175      666888  CT-20161118150202875             1
4930176      666888  CT-20170622155108547             1
4930177      666888  CT-20170725154830127             1
4930178      666888  CT-20170828112737628             1
4930179      666893  BO-20140726014750459             1
4930180      666893  CT-20170728144716966             1
4930181      666897  BO-20170627173817926             1
4930182      666897  CT-20160324155305682             1
4930183      666897  CT-20160324155308223             1
4930184      666897  CT-20170829175003233             1
4930185      666897  CT-20170829175015315             1
4930186      666930  BO-20150417044757166             1
4930187      666930  BO-20150428174202912             1

[4930188 rows x 3 columns]

In [10]:
min_events_df = df[df['events_count']>10]
min_events_df

         learner_id             book_code  events_count
11               12  BO-20160122145947170            32
80               57  BO-20161026171155659            11
154              88  BO-20150420190234968            15
159              88  BO-20170724102316479            14
170              88  CT-20170725152332972            24
172              88  CT-20170828112737628            12
467             299  CT-20161118145842174            18
1051            708  CT-20170828112737628            15
1692           1145  BO-20140726014849875            15
1693           1145  BO-20140726014850379            22
1708           1145  BO-20150417044756134            15
1724           1145  BO-20170825093227117            40
1726           1145  CT-20160308172152222            27
1727           1145  CT-20160308172154663            15
1728           1145  CT-20160308173204325            14
1733           1145  CT-20160324103235064            22
1745           1145  CT-20170829173725795           123
1746           1145  CT-20170829173728813            12
1747           1145  CT-20170829173732748            14
1748           1145  CT-20170829173735534            19
1749           1145  CT-20170829174223880            28
2072           1330  CT-20170914151011420            14
3176           2295  BO-20160530143321739            14
3189           2295  BO-20160530143321782            12
3213           2295  BO-20160927142407870            16
3254           2295  BO-20170224150632141            15
3577           2460  BO-20160530143321932            12
3719           2558  BO-20170718174924649            17
5248           3618  CT-20160317091228430            19
5516           3754  BO-20150728165838323            12
...             ...                   ...           ...
4927577      665658  BO-20140726020204512            17
4927739      665667  BO-20170124130855984            28
4927766      665671  BO-20140726015057783            14
4927846      665680  BO-20170627173817926            17
4927860      665680  CT-20161118150202875            12
4927869      665680  CT-20170829175003233            13
4928095      665694  CT-20170725154830127            48
4928166      665703  BO-20140726015520616            13
4928299      665721  BO-20150417020356577            11
4928385      665725  CT-20160324155220625            28
4928386      665725  CT-20160324155232897            12
4928387      665725  CT-20160324155302588            11
4928390      665725  CT-20161118150202875            18
4928583      665748  CT-20161118150202875            13
4928612      665751  CT-20170828161132201            29
4928621      665751  CT-20170913161214081            16
4928624      665751  CT-20170914093020595            13
4928846      665839  CT-20170725154830127            14
4928869      665841  BO-20160921172154765            11
4928936      665844  CT-20161118150202875            18
4928938      665844  CT-20170622155739887            12
4928940      665844  CT-20170725154830127            37
4928943      665844  CT-20170828112737628            15
4929355      666178  CT-20170829175003233            13
4929448      666212  BO-20170821132107208            11
4929611      666300  BO-20161026170734962            16
4929646      666335  BO-20170627173622446            16
4929797      666456  BO-20170627173817926            14
4929809      666456  CT-20170829175003233            11
4930147      666854  BO-20160621113027809            11

[74043 rows x 3 columns]

In [19]:
min_events_df.to_csv('learner_books_close_min_events.csv', index=False)

In [11]:
len(min_events_df)

74043

In [12]:
no_of_learners = len(min_events_df['learner_id'].unique())
print("no_of_learners : ", no_of_learners)
no_of_books = len(min_events_df['book_code'].unique())
print("no_of_books : ", no_of_books)

no_of_learners :  25372
no_of_books :  3363

In [20]:
learner_id_vs_books_count = min_events_df['learner_id'].value_counts()
learner_id_vs_books_count

531244    108
639207    107
480005    105
453255    100
388560     88
398281     87
472745     86
339189     85
454300     83
421565     82
396381     80
515917     79
512500     77
637376     77
372645     71
471203     70
232395     70
585428     67
526317     65
578304     65
43077      64
417211     64
650135     63
579202     61
640981     60
421731     59
637007     59
532800     52
448639     49
268329     48
         ...
507434      1
141017      1
364140      1
286422      1
419537      1
427725      1
319174      1
202431      1
497327      1
384678      1
247461      1
524600      1
530079      1
265884      1
645443      1
384614      1
489011      1
573956      1
128611      1
7774        1
229704      1
463194      1
433742      1
441930      1
50757       1
466494      1
460349      1
343610      1
418164      1
423951      1
Name: learner_id, Length: 25372, dtype: int64

In [14]:
df[df['learner_id'] == 507434]

         learner_id             book_code  events_count
3739799      507434  BO-20140802020624379             1
3739800      507434  BO-20150417014719967             1
3739801      507434  CT-20170828161132201            14
3739802      507434  CT-20170911155832746             1

In [21]:
book_code_vs_leaners_count = min_events_df['book_code'].value_counts()
book_code_vs_leaners_count

CT-20160317091228430    5706
BO-20170627173817922    4495
CT-20160316150550038    3972
CT-20170829173725795    2459
CT-20160316150540303    1910
CT-20161118145842174    1791
CT-20170914093026234    1450
CT-20160308173204325    1411
CT-20170914151011420    1237
CT-20170913161231433    1222
CT-20170829174223880    1159
CT-20160324103235064    1081
CT-20170725152332972    1032
CT-20170914093011394    1030
CT-20170622155108547     937
CT-20170828112737628     917
BO-20170821132107208     882
CT-20170914093020595     864
CT-20160324155220625     837
BO-20170821132107257     755
CT-20170913161214081     755
CT-20170911155837615     750
CT-20160324155232897     743
CT-20161118145459152     716
BO-20170821132107586     710
BO-20170821132107285     709
CT-20160308172154663     704
BO-20170724102316479     497
BO-20170627173817926     475
CT-20170725163327755     464
                        ...
BO-20150728165840572       1
BO-20150728165839878       1
BO-20140726015917295       1
CT-20151023102748398       1
CT-20151208105301928       1
BO-20170526161954130       1
BO-20140726015731046       1
BO-20140726014824193       1
CT-20170630152443217       1
BO-20151124150831289       1
BO-20151124150831385       1
BO-20150420190236592       1
BO-20150427220653434       1
BO-20170216163154821       1
BO-20150728165839205       1
BO-20170517092719119       1
BO-20160122145947068       1
CT-20170725154838215       1
BO-20150910101024615       1
CT-20161208155126475       1
BO-20150427220653471       1
BO-20170821132107182       1
BO-20150728165839935       1
BO-20140726015109367       1
BO-20170725114042460       1
BO-20150728165839462       1
BO-20140726014646013       1
BO-20170721152204758       1
BO-20150417030603527       1
BO-20161226152836447       1
Name: book_code, Length: 3363, dtype: int64

In [23]:
df[df['book_code'] == 'BO-20150728165840572']

         learner_id             book_code  events_count
18673         10229  BO-20150728165840572             2
88058         31752  BO-20150728165840572             4
134556        42189  BO-20150728165840572             1
143409        44076  BO-20150728165840572             1
180229        51901  BO-20150728165840572             2
182757        52466  BO-20150728165840572             1
254931        65883  BO-20150728165840572             3
345676        82052  BO-20150728165840572            19
365466        85201  BO-20150728165840572             2
470207       102330  BO-20150728165840572             2
528856       111452  BO-20150728165840572             5
634474       126865  BO-20150728165840572             4
662780       130723  BO-20150728165840572             1
670766       131640  BO-20150728165840572             2
740081       141513  BO-20150728165840572             1
773065       146540  BO-20150728165840572             6
810034       151936  BO-20150728165840572             2
881547       162063  BO-20150728165840572             1
893046       163793  BO-20150728165840572             4
1037290      183003  BO-20150728165840572             1
1111559      193245  BO-20150728165840572             6
1120655      194693  BO-20150728165840572             1
1242634      211748  BO-20150728165840572             2
1337503      225225  BO-20150728165840572             3
1338399      225286  BO-20150728165840572             5
1348374      226799  BO-20150728165840572             2
1362645      228841  BO-20150728165840572             3
1439680      239262  BO-20150728165840572             2
1481024      244839  BO-20150728165840572             2
1522081      250371  BO-20150728165840572             1
...             ...                   ...           ...
3771028      509551  BO-20150728165840572             1
3812203      512461  BO-20150728165840572             1
3876929      517824  BO-20150728165840572             2
3883681      518418  BO-20150728165840572             1
3884966      518517  BO-20150728165840572             2
3891100      518980  BO-20150728165840572             3
3926011      521937  BO-20150728165840572             1
3951311      524204  BO-20150728165840572             2
3958861      524825  BO-20150728165840572             4
4014383      529179  BO-20150728165840572             6
4014822      529204  BO-20150728165840572             1
4032481      530262  BO-20150728165840572             2
4035747      530468  BO-20150728165840572             8
4067356      532471  BO-20150728165840572             1
4093620      534668  BO-20150728165840572             1
4102331      535334  BO-20150728165840572             1
4130434      549776  BO-20150728165840572             1
4137051      555726  BO-20150728165840572             7
4246954      586509  BO-20150728165840572             1
4251191      587102  BO-20150728165840572             2
4398356      636567  BO-20150728165840572             2
4426496      637633  BO-20150728165840572             6
4434185      637902  BO-20150728165840572             1
4452330      638525  BO-20150728165840572             1
4464905      638957  BO-20150728165840572             1
4537600      641580  BO-20150728165840572            10
4552474      642340  BO-20150728165840572             3
4610193      646049  BO-20150728165840572             2
4644286      648202  BO-20150728165840572             6
4913197      663742  BO-20150728165840572             1

[145 rows x 3 columns]

In [25]:
book_access_count_vs_learner_book = min_events_df['events_count'].value_counts()
book_access_count_vs_learner_book

11      12857
12      10174
13       7907
14       6272
15       5336
16       4234
17       3529
18       2940
19       2414
20       2142
21       1712
22       1530
23       1277
24       1167
25        930
26        871
27        792
28        731
29        630
30        530
31        516
32        456
33        373
34        328
35        311
36        293
37        269
38        236
39        226
40        197
        ...
211         1
357         1
275         1
340         1
213         1
277         1
341         1
1941        1
151         1
216         1
1368        1
153         1
217         1
345         1
154         1
346         1
155         1
219         1
1244        1
93          1
221         1
542         1
127         1
161         1
289         1
290         1
610         1
3491        1
165         1
2974        1
Name: events_count, Length: 233, dtype: int64