In [30]:
import pandas as pd

In [31]:
train_data_file = '../books_recommender/train_test_data/train_data.csv'
test_data_file = '../books_recommender/train_test_data/test_data.csv'
train_data = pd.read_csv(train_data_file)
test_data = pd.read_csv(test_data_file)

In [10]:
train_data[train_data['book_code'] == 'BO-20150420190235309']

Empty DataFrame
Columns: [learner_id, book_code, events_count, first_access_time, learner_birthday, learner_gender, dob, age, Unnamed: 0_BM, BOOK_META_CODE, BOOK_NAME_BM, AUTHOR, TRANSLATOR, ILLUSTRATOR, PHOTOGRAPHER, SUPERVISOR, BOOK_PLATE, BOOK_EDITION, BINDING_TP, BOOK_INTRO, PUBLISHER_REVIEW, SUMMARY, AUTHOR_INTRO, TOC, KEYWORD, LYRICS, STORE_CODE, CRE_ID_BM, CRE_IP, CRE_DTIME_BM, UPD_ID_BM, UPD_IP, UPD_DTIME_BM, T_KEYWORD, T_BOOK_NAME, T_AUTHOR, Unnamed: 0_BI, BOOK_CODE, RELATIONGOODS_CODE, COMPANY_CODE, CONTENTS_CODE, BOOK_TYPE, SERVICE_TYPE, BOOK_NAME_BI, BOOK_GROUP_CODE, ONOFF_BOOK_CODE, APP_CODE, STATUS_TP, PAPERBOOK_PUB_DATE, EBOOK_PUB_DATE, EBOOK_PUBLISHER, EBOOK_VERSION, LANG_CODE, PAGE_COUNT, ISBN10, ISBN13, FIND_SHOW_YN, SAP_CODE, UP_SAP_CODE, SAP_SALE_PRICE, SAP_CLUBPOINT, SAP_CLUBCASH, SAP_CLUBMILEAGE, INNER_UNIT_COUNT, PUBLISHER_CODE, PUBLISHER, BRAND_CODE, BRAND_NAME, CONTENT_SVC_TYPE, IMPRESSION_YN, QUIZ_YN, TARGET_AGE, BEGIN_TARGET_AGE, END_TARGET_AGE, PRODUCT_STRUCTURE, SERIES_SALE_TYPE, INSTANCE_COUNT, SETL_RATIO, SETL_AMOUNT, VALID_TYPE, VALID_EDTIME, MYTODAY_EXBT_CODE, JSON_DATA, SUB_BOOK_CODE, CRE_DTIME_BI, UPD_DTIME_BI, CRE_ID_BI, UPD_ID_BI, PAY_GROUP_CODE]
Index: []

[0 rows x 89 columns]

In [29]:
#test_data.groupby(['learner_id', 'book_code', 'first_access_time']).count().reset_index()
for index, row in test_data.iterrows():
    print(row['learner_id'], row['book_code'], row['first_access_time'])

139403.0 BO-20140726013720440 2017-09-20 11:57:31
200172.0 BO-20140726013720440 2017-09-20 08:59:58
660902.0 BO-20150417030605412 2017-09-19 10:54:14
41675.0 BO-20170124130856024 2017-09-14 12:14:36
336804.0 BO-20170124130856024 2017-09-14 13:54:41
393735.0 BO-20170124130856024 2017-09-15 08:12:21
462331.0 BO-20170124130856024 2017-09-14 23:36:53
517517.0 BO-20170124130856024 2017-09-15 00:45:15
474636.0 BO-20170424154817203 2017-09-15 13:14:33
127402.0 BO-20150420190235301 2017-09-17 11:11:23
203746.0 BO-20150420190235301 2017-09-14 09:50:16
649038.0 BO-20150420190235301 2017-09-23 01:55:28
608584.0 BO-20161226152837329 2017-09-18 04:27:37
616545.0 BO-20161226152837329 2017-09-18 04:06:14
10284.0 BO-20140726014638460 2017-09-15 06:31:08
517517.0 BO-20140726014638460 2017-09-15 00:47:57
210395.0 BO-20141229105403512 2017-09-14 00:35:07
608584.0 BO-20150417050359409 2017-09-18 04:27:21
369023.0 BO-20161213162026018 2017-09-21 12:08:49
203746.0 BO-20161213162026025 2017-09-14 10:43:39
539309.0 BO-20161213162026025 2017-09-25 11:28:45
10284.0 BO-20150417044756134 2017-09-14 11:44:42
37197.0 BO-20150417041515716 2017-09-15 08:34:41
91411.0 BO-20160825160642128 2017-09-15 23:49:25
301630.0 BO-20160329135654842 2017-09-20 08:13:06
54273.0 BO-20150420190236645 2017-09-18 10:22:24
10284.0 BO-20140726020215086 2017-09-17 11:23:10
462330.0 BO-20140726020215086 2017-09-17 13:53:27
172997.0 BO-20150417044757219 2017-09-17 12:12:19
367996.0 BO-20150417044757219 2017-09-19 07:24:11
54273.0 BO-20150420190236662 2017-09-15 10:10:17
57213.0 BO-20150420190236662 2017-09-22 09:07:00
121616.0 BO-20150420190236662 2017-09-14 11:42:22
132726.0 BO-20150420190236662 2017-09-23 00:59:59
154176.0 BO-20150420190236662 2017-09-14 10:13:46
166255.0 BO-20150420190236662 2017-09-15 12:24:16
172466.0 BO-20150420190236662 2017-09-15 11:20:15
173167.0 BO-20150420190236662 2017-09-15 13:15:24
177561.0 BO-20150420190236662 2017-09-17 07:17:40
181398.0 BO-20150420190236662 2017-09-14 01:37:39
189234.0 BO-20150420190236662 2017-09-17 07:57:12
204116.0 BO-20150420190236662 2017-09-15 17:03:50
210756.0 BO-20150420190236662 2017-09-21 10:25:16
258483.0 BO-20150420190236662 2017-09-15 05:36:33
266420.0 BO-20150420190236662 2017-09-16 11:38:43
365175.0 BO-20150420190236662 2017-09-15 01:19:47
393735.0 BO-20150420190236662 2017-09-22 08:14:36
410220.0 BO-20150420190236662 2017-09-20 11:51:03
418672.0 BO-20150420190236662 2017-09-15 09:59:16
418672.0 BO-20150420190236662 2017-09-15 09:59:16
426125.0 BO-20150420190236662 2017-09-15 01:48:06
431097.0 BO-20150420190236662 2017-09-16 06:08:23
469763.0 BO-20150420190236662 2017-09-15 05:51:46
482273.0 BO-20150420190236662 2017-09-14 11:30:58
634151.0 BO-20150420190236662 2017-09-16 03:37:27
634306.0 BO-20150420190236662 2017-09-17 11:30:10
660902.0 BO-20150420190236662 2017-09-15 06:39:16
662084.0 BO-20150420190236662 2017-09-23 10:08:38
131560.0 BO-20161026171155662 2017-09-14 08:45:14
290478.0 BO-20161026171156228 2017-09-20 10:42:41
517517.0 BO-20161226152837335 2017-09-15 00:47:02
71300.0 BO-20140726013656767 2017-09-14 13:20:02
517517.0 BO-20140726013728499 2017-09-20 01:08:36
9614.0 BO-20161226152836443 2017-09-21 10:52:50
62461.0 BO-20140726015530182 2017-09-18 06:50:54
204116.0 BO-20140726015530182 2017-09-17 04:51:47
212046.0 BO-20140726015530182 2017-09-14 08:44:18
372930.0 BO-20140726015530182 2017-09-19 00:12:50
89684.0 BO-20161026171156631 2017-09-19 09:06:46
93837.0 BO-20161026171156631 2017-09-14 06:43:25
119262.0 BO-20161026171156631 2017-09-14 11:09:22
160944.0 BO-20161026171156631 2017-09-17 01:14:35
181889.0 BO-20161026171156631 2017-09-19 10:12:58
184379.0 BO-20161026171156631 2017-09-16 07:47:29
212983.0 BO-20161026171156631 2017-09-16 02:17:43
218332.0 BO-20161026171156631 2017-09-19 11:13:55
258483.0 BO-20161026171156631 2017-09-15 05:30:17
288214.0 BO-20161026171156631 2017-09-14 12:03:04
365175.0 BO-20161026171156631 2017-09-15 01:14:42
411070.0 BO-20161026171156631 2017-09-15 10:40:54
498767.0 BO-20161026171156631 2017-09-18 13:33:08
501035.0 BO-20161026171156631 2017-09-14 04:56:21
544675.0 BO-20161026171156631 2017-09-16 15:00:36
661731.0 BO-20161026171156631 2017-09-14 13:09:50
16758.0 BO-20161026171156646 2017-09-14 12:36:20
92460.0 BO-20161026171156646 2017-09-14 11:46:42
93279.0 BO-20161026171156646 2017-09-15 01:44:03
134857.0 BO-20161026171156646 2017-09-16 00:37:42
138643.0 BO-20161026171156646 2017-09-17 06:45:35
144280.0 BO-20161026171156646 2017-09-17 02:40:32
173167.0 BO-20161026171156646 2017-09-15 13:07:00
186504.0 BO-20161026171156646 2017-09-14 23:29:30
201505.0 BO-20161026171156646 2017-09-16 01:50:17
206033.0 BO-20161026171156646 2017-09-15 10:37:45
266420.0 BO-20161026171156646 2017-09-14 09:58:20
386672.0 BO-20161026171156646 2017-09-17 06:05:23
440984.0 BO-20161026171156646 2017-09-16 03:26:28
459305.0 BO-20161026171156646 2017-09-14 12:57:11
530311.0 BO-20161026171156646 2017-09-16 09:56:33
647759.0 BO-20161026171156646 2017-09-20 10:10:54
319228.0 BO-20150417041515807 2017-09-17 11:30:20
544675.0 BO-20150420190236139 2017-09-19 11:43:25
409355.0 BO-20140726015129009 2017-09-14 22:34:27
514221.0 BO-20140726015129009 2017-09-10 03:09:48
2295.0 BO-20160530143321739 2017-09-14 09:21:02
661245.0 BO-20160530143321746 2017-09-19 12:49:21
2295.0 BO-20160530143321782 2017-09-16 09:57:39
258184.0 BO-20160927142407364 2017-09-16 09:08:32
193429.0 BO-20160927142407380 2017-09-21 08:34:57
369023.0 BO-20160927142407677 2017-09-23 13:48:36
2295.0 BO-20160927142407870 2017-09-18 11:11:27
231650.0 BO-20160927142407894 2017-09-18 08:57:44
258184.0 BO-20170224150632078 2017-09-16 05:14:27
359680.0 BO-20170224150632078 2017-09-15 11:38:36
427976.0 BO-20170224150632078 2017-09-17 01:12:43
258184.0 BO-20170224150632081 2017-09-16 05:14:33
258184.0 BO-20170224150632086 2017-09-16 05:14:22
299352.0 BO-20170224150632096 2017-09-14 09:29:58
212046.0 BO-20170224150632103 2017-09-22 05:23:05
258184.0 BO-20170224150632103 2017-09-16 05:17:36
258184.0 BO-20170224150632110 2017-09-17 01:01:35
231650.0 BO-20170224150632113 2017-09-16 23:25:49
258184.0 BO-20170224150632126 2017-09-16 05:14:55
193429.0 BO-20170224150632136 2017-09-14 11:14:13
204116.0 BO-20170224150632136 2017-09-22 12:07:07
258184.0 BO-20170224150632136 2017-09-17 01:07:25
544675.0 BO-20170224150632136 2017-09-14 09:22:03
2295.0 BO-20170224150632141 2017-09-16 06:39:03
193429.0 BO-20170224150632141 2017-09-21 08:39:08
299352.0 BO-20170224150632141 2017-09-14 09:52:16
75245.0 BO-20170420182657136 2017-09-14 11:30:51
639152.0 BO-20170420182657136 2017-09-22 11:03:27
131560.0 BO-20161026171156737 2017-09-15 07:40:28
419192.0 BO-20150420190236169 2017-09-19 06:36:17
41367.0 BO-20161129112509598 2017-09-21 15:34:22
127402.0 BO-20150420190235185 2017-09-16 10:08:20
47040.0 BO-20170424154817181 2017-09-14 10:17:08
47040.0 BO-20170424154817220 2017-09-14 12:13:50
14548.0 BO-20151130174841411 2017-09-16 04:52:21
204116.0 BO-20161026171156184 2017-09-23 16:09:48
131560.0 BO-20161026171156481 2017-09-14 09:00:17
506061.0 BO-20161026171156547 2017-09-14 06:44:52
177561.0 BO-20140726020132287 2017-09-24 23:40:07
203746.0 BO-20140726020132287 2017-09-15 10:30:02
550017.0 BO-20150417044756103 2017-09-26 06:46:16
45448.0 BO-20150420190232563 2017-09-14 08:54:07
554533.0 BO-20160122145947082 2017-09-17 11:22:04
288509.0 BO-20161017132100285 2017-09-15 08:03:26
111500.0 BO-20170123214733863 2017-09-21 11:08:46
446082.0 BO-20161026170734904 2017-09-26 12:45:38
540305.0 BO-20140726014007161 2017-09-13 06:03:54
101354.0 BO-20160617171345271 2017-09-22 01:09:08
479084.0 BO-20160617171345271 2017-09-16 10:43:53
232500.0 BO-20160211190645579 2017-09-16 13:11:06
113927.0 BO-20160226183933930 2017-09-14 12:06:44
140646.0 BO-20160226183933930 2017-09-13 08:35:47
639152.0 BO-20160226183933930 2017-09-15 04:42:37
661593.0 BO-20160226183933930 2017-09-18 09:41:00
648562.0 BO-20160307114640969 2017-09-14 08:12:39
131560.0 BO-20161026171155733 2017-09-16 09:43:59
266175.0 BO-20161026171155766 2017-09-23 06:25:53
427976.0 BO-20160927142407593 2017-09-16 23:40:37
193429.0 BO-20170224150632133 2017-09-14 11:16:43
204116.0 BO-20170224150632133 2017-09-22 12:08:44
258184.0 BO-20170224150632133 2017-09-17 01:04:06
77728.0 BO-20150910101024715 2017-09-19 12:47:56

89464.0 BO-20150417030605430 2017-09-15 04:00:26
346968.0 BO-20161026171156321 2017-09-17 01:43:30
662084.0 BO-20140726014758011 2017-09-23 09:20:01
176337.0 BO-20150417044756761 2017-09-16 00:21:29
93362.0 BO-20150420190235569 2017-09-14 12:51:10
544675.0 BO-20150420190236087 2017-09-20 23:47:16
544675.0 BO-20150420190236091 2017-09-20 11:54:06
214208.0 BO-20150420190236186 2017-09-22 08:53:40
232983.0 BO-20150420190235233 2017-09-21 23:03:39
10284.0 BO-20140726013738070 2017-09-19 21:49:48
296304.0 BO-20140726013738070 2017-09-21 05:20:52
469658.0 BO-20140726015125988 2017-09-21 12:35:38
514221.0 BO-20140726015125988 2017-09-10 03:09:06
524208.0 BO-20140726015125988 2017-09-16 13:58:46
660151.0 BO-20140726015125988 2017-09-15 03:44:04
57330.0 BO-20150420190235361 2017-09-25 11:48:48
369023.0 BO-20150420190235361 2017-09-20 12:07:25
452997.0 BO-20150420190235361 2017-09-18 11:53:06
111500.0 BO-20150420190236243 2017-09-15 12:08:59
160944.0 BO-20160621113027823 2017-09-16 02:17:40
165960.0 BO-20160621113027823 2017-09-14 10:04:29
172382.0 BO-20160621113027823 2017-09-24 23:00:23
277609.0 BO-20160621113027823 2017-09-15 07:15:36
306880.0 BO-20160621113027823 2017-09-18 08:24:28
608662.0 BO-20160621113027823 2017-09-15 11:17:42
232500.0 BO-20161026171155557 2017-09-16 10:54:41
412112.0 BO-20161026171155557 2017-09-17 02:51:23
462330.0 BO-20161026171155557 2017-09-21 13:40:20
170897.0 BO-20160530143321906 2017-09-19 12:07:06
242257.0 BO-20140726014912531 2017-09-14 10:54:02
60358.0 BO-20160926184105279 2017-09-14 11:30:14
60358.0 BO-20160926184105311 2017-09-15 23:39:11
111015.0 BO-20150417041516337 2017-09-16 07:08:27
98874.0 BO-20150417020356250 2017-09-22 01:33:05
447654.0 BO-20150417020356250 2017-09-14 15:06:55
660828.0 BO-20150417020356250 2017-09-14 11:31:06
447654.0 BO-20150417020356254 2017-09-14 15:15:49
447654.0 BO-20150417020356257 2017-09-14 15:21:01
447654.0 BO-20150417020356261 2017-09-14 15:30:53
49623.0 BO-20150417020356264 2017-09-24 11:27:32
447654.0 BO-20150417020356264 2017-09-14 15:34:12
447654.0 BO-20150417020356267 2017-09-14 15:39:03
447654.0 BO-20150417020356270 2017-09-14 15:46:56
138570.0 BO-20150417020356319 2017-09-14 14:13:23
138570.0 BO-20150417020356322 2017-09-14 14:18:15
346968.0 BO-20161026171156315 2017-09-17 01:37:32
491480.0 BO-20161026171156315 2017-09-15 04:40:26
544675.0 BO-20161026171156315 2017-09-19 11:53:32
507363.0 BO-20150420190236618 2017-09-14 13:55:12
75654.0 BO-20170420181918207 2017-09-15 12:29:45
166155.0 BO-20170420181918207 2017-09-20 12:09:44
496493.0 BO-20161026171155753 2017-09-14 07:22:07
212741.0 BO-20161026171155961 2017-09-14 12:24:55
269640.0 BO-20161026171156339 2017-09-14 15:37:59
496493.0 BO-20161026171156339 2017-09-14 07:34:20
93279.0 BO-20161026171156717 2017-09-15 02:00:22
122543.0 BO-20140726015827440 2017-09-17 00:16:48
462330.0 BO-20140726015827440 2017-09-17 06:24:41
74877.0 BO-20151022134530050 2017-09-14 04:43:18
501437.0 BO-20151022134530050 2017-09-23 00:39:52
539309.0 BO-20151022134530050 2017-09-25 11:14:09
544675.0 BO-20150420190236219 2017-09-23 00:21:29
125507.0 BO-20160621113027627 2017-09-15 11:05:03
93362.0 BO-20150420190236071 2017-09-15 06:05:40
416304.0 BO-20161026171155524 2017-09-16 02:03:27
18983.0 BO-20170328160019969 2017-09-14 10:41:41
166155.0 BO-20170328160019974 2017-09-14 00:29:27
360180.0 BO-20150420190235521 2017-09-18 09:11:23
93362.0 BO-20150420190235537 2017-09-14 12:34:24
74877.0 BO-20150420190235557 2017-09-19 04:06:42
160128.0 BO-20140726015127498 2017-09-16 12:18:56
409355.0 BO-20140726015127498 2017-09-14 22:35:37
514221.0 BO-20140726015127498 2017-09-18 07:15:58
514221.0 BO-20140726015128002 2017-09-10 03:02:48
514221.0 BO-20140726015129513 2017-09-15 14:29:18
409355.0 BO-20140726015130520 2017-09-17 22:33:40
514221.0 BO-20140726015130520 2017-09-15 13:28:08
514221.0 BO-20140726015126995 2017-09-15 13:33:38
113927.0 BO-20160122145947252 2017-09-16 06:50:19
140646.0 BO-20160122145947252 2017-09-19 03:00:46
183750.0 BO-20160122145947252 2017-09-19 12:27:09
298498.0 BO-20160122145947252 2017-09-20 02:40:31
311877.0 BO-20160122145947252 2017-09-15 11:00:22
661593.0 BO-20160122145947252 2017-09-18 09:46:38
661593.0 BO-20160122145947261 2017-09-16 07:35:42
112327.0 BO-20160713154232880 2017-09-18 12:11:03
601506.0 BO-20160718132810219 2017-09-18 06:37:01
601506.0 BO-20160718132810227 2017-09-19 03:39:02
520178.0 BO-20150728165839867 2017-09-18 11:24:43
544675.0 BO-20150420190236174 2017-09-20 12:10:22
204116.0 BO-20150420190232700 2017-09-23 15:45:03
232500.0 BO-20160307114640974 2017-09-16 13:06:21
196565.0 BO-20150420190236101 2017-09-17 22:46:59
475810.0 BO-20150420190236688 2017-09-14 08:53:35
420323.0 BO-20150420190235504 2017-09-22 14:11:27
258184.0 BO-20150420190235815 2017-09-16 06:01:35
83839.0 BO-20150420190236143 2017-09-23 09:39:12
336804.0 BO-20150420190236193 2017-09-17 01:26:09
111500.0 BO-20150420190236215 2017-09-15 21:55:37
111500.0 BO-20150420190236238 2017-09-21 11:08:56
660151.0 BO-20170324112951427 2017-09-15 03:45:40
192644.0 BO-20150420190232541 2017-09-17 14:37:02
227185.0 BO-20150420190232556 2017-09-14 07:57:42
192429.0 BO-20150420190235402 2017-09-16 03:22:40
447654.0 BO-20150417020356385 2017-09-15 16:26:36
231650.0 BO-20170224150632150 2017-09-15 23:09:27
258184.0 BO-20170224150632150 2017-09-16 05:15:09
514221.0 BO-20160427153615852 2017-09-10 03:20:05
29181.0 BO-20150420190235276 2017-09-16 00:56:43
238566.0 BO-20150420190235276 2017-09-16 06:45:24
140646.0 BO-20140726020158973 2017-09-21 06:18:59
75040.0 BO-20160211190645628 2017-09-24 03:46:35
103325.0 BO-20160211190645628 2017-09-23 10:58:35
222314.0 BO-20150420190235214 2017-09-14 09:27:23
114143.0 BO-20150420190235272 2017-09-14 10:30:37
203746.0 BO-20150420190235272 2017-09-14 10:44:15
661593.0 BO-20150420190235272 2017-09-21 00:07:13
502261.0 BO-20150420190235356 2017-09-26 13:08:52
160944.0 BO-20160621113027819 2017-09-16 00:19:00
277609.0 BO-20160621113027819 2017-09-15 07:17:46
292131.0 BO-20160621113027819 2017-09-15 10:11:19
608662.0 BO-20160621113027819 2017-09-15 11:15:34
266175.0 BO-20161026171155632 2017-09-20 11:42:06
660828.0 BO-20150417020356645 2017-09-24 07:30:45
492564.0 BO-20141030210207622 2017-09-19 23:14:49
333615.0 BO-20150417041516347 2017-09-15 08:25:14
430477.0 BO-20141030210025585 2017-09-14 11:43:51
447654.0 BO-20150417020356430 2017-09-15 16:46:28
660828.0 BO-20150417020356430 2017-09-14 23:45:00
138570.0 BO-20150417020356907 2017-09-14 13:16:45
138570.0 BO-20150417020356910 2017-09-14 13:17:48
138570.0 BO-20150417020356914 2017-09-14 13:18:41
138570.0 BO-20150417020356917 2017-09-14 13:19:33
138570.0 BO-20150417020356920 2017-09-14 13:20:22
138570.0 BO-20150417020356923 2017-09-14 13:21:40
138570.0 BO-20150417020356926 2017-09-14 13:22:37
138570.0 BO-20150417020356928 2017-09-14 13:23:20
138570.0 BO-20150417020356931 2017-09-14 13:24:10
138570.0 BO-20150417020356934 2017-09-14 13:25:11
138570.0 BO-20150417020356940 2017-09-14 13:25:59
138570.0 BO-20150417020356943 2017-09-14 13:26:44
138570.0 BO-20150417020356946 2017-09-14 13:27:49
138570.0 BO-20150417020356949 2017-09-14 13:29:12
138570.0 BO-20150417020356952 2017-09-14 13:30:15
138570.0 BO-20150417020356955 2017-09-14 13:31:16
138570.0 BO-20150417020356958 2017-09-14 13:32:02
138570.0 BO-20150417020356961 2017-09-14 13:32:44
138570.0 BO-20150417020356965 2017-09-14 13:33:38
138570.0 BO-20150417020356968 2017-09-14 13:34:46
138570.0 BO-20150417020356971 2017-09-14 13:35:47
138570.0 BO-20150417020356974 2017-09-14 13:36:42
501437.0 BO-20151022134530159 2017-09-23 00:40:18
419192.0 BO-20160122145947063 2017-09-14 08:28:27
271813.0 BO-20160307114640963 2017-09-14 12:19:46
111500.0 BO-20160617171910403 2017-09-20 09:18:44
137315.0 BO-20160926184232104 2017-09-24 13:49:25
113927.0 BO-20161128155731930 2017-09-16 02:53:05
420323.0 BO-20150420190235423 2017-09-14 12:06:30
160128.0 BO-20140726015126492 2017-09-16 12:18:43
514221.0 BO-20140726015126492 2017-09-10 03:06:59
524208.0 BO-20140726015126492 2017-09-16 14:00:54
123821.0 BO-20150417014720171 2017-09-15 23:33:22
232653.0 BO-20151214182834507 2017-09-14 08:39:14
203746.0 BO-20150420190235164 2017-09-21 22:28:33
218170.0 BO-20150420190235326 2017-09-16 05:54:27
298498.0 BO-20150420190235326 2017-09-15 01:26:35
232500.0 BO-20160211190645624 2017-09-16 13:16:40
457796.0 BO-20160624095419946 2017-09-21 09:17:46
232653.0 BO-20141105120155237 2017-09-14 09:07:12
232653.0 BO-20151214182834515 2017-09-14 08:50:57
232653.0 BO-20151214182834539 2017-09-14 08:26:40
168457.0 BO-20160530143321825 2017-09-20 12:58:35
630179.0 BO-20140829142710938 2017-09-15 10:32:38
447654.0 BO-20150417020356394 2017-09-15 16:30:29
447654.0 BO-20150417020356397 2017-09-15 16:30:59
296836.0 BO-20161128160003529 2017-09-21 10:39:56
424694.0 BO-20161128160003529 2017-09-21 12:43:27
18940.0 BO-20150420190234918 2017-09-15 12:58:46
204116.0 BO-20160617171910475 2017-09-22 12:16:04
442372.0 BO-20150420190238000 2017-09-14 12:39:06
328379.0 BO-20141118111228189 2017-09-15 06:14:19
469405.0 BO-20170427094002128 2017-09-25 12:16:12
232500.0 BO-20160226183933941 2017-09-17 08:25:50
661593.0 BO-20160226183933941 2017-09-16 07:29:59
166155.0 BO-20170328160020069 2017-09-15 01:14:11
137315.0 BO-20160122145947245 2017-09-25 13:35:05
501437.0 BO-20160122145947245 2017-09-23 00:38:58
542472.0 BO-20160122145947245 2017-09-14 08:30:51
661593.0 BO-20160122145947245 2017-09-16 07:43:10
106610.0 BO-20141105120422424 2017-09-16 00:28:37
277609.0 BO-20160621113027809 2017-09-14 09:17:36
414496.0 BO-20160621113027809 2017-09-21 10:47:29
608662.0 BO-20160621113027809 2017-09-15 11:09:24
514221.0 BO-20140726015128505 2017-09-10 03:04:24
514221.0 BO-20140726015130016 2017-09-10 03:09:11
475810.0 BO-20150420190235209 2017-09-14 08:45:37
156202.0 BO-20140726013745625 2017-09-14 08:03:01
661593.0 BO-20160329105829428 2017-09-16 12:46:10
221373.0 BO-20140726014819663 2017-09-26 09:26:19
447654.0 BO-20150417020356391 2017-09-15 16:30:00
650854.0 BO-20150417020356400 2017-09-15 03:40:30
447654.0 BO-20150417020356403 2017-09-15 16:32:36
447654.0 BO-20150417020356406 2017-09-15 16:33:46
277609.0 BO-20160621113027813 2017-09-15 07:13:35
608662.0 BO-20160621113027813 2017-09-15 11:13:27
76419.0 BO-20150417020356412 2017-09-22 14:17:41
447654.0 BO-20150417020356412 2017-09-15 16:34:56
660828.0 BO-20150417020356412 2017-09-14 23:33:43
447654.0 BO-20150417020356415 2017-09-15 16:36:01
660828.0 BO-20150417020356415 2017-09-14 23:34:46
447654.0 BO-20150417020356418 2017-09-15 16:38:31
660828.0 BO-20150417020356418 2017-09-14 23:37:14
447654.0 BO-20150417020356421 2017-09-15 16:40:35
660828.0 BO-20150417020356421 2017-09-14 23:39:15
447654.0 BO-20150417020356424 2017-09-15 16:43:11
660828.0 BO-20150417020356424 2017-09-14 23:41:48
447654.0 BO-20150417020356427 2017-09-15 16:45:34
660828.0 BO-20150417020356427 2017-09-14 23:44:08
447654.0 BO-20150417020356433 2017-09-14 14:58:49
660828.0 BO-20150417020356433 2017-09-14 23:46:43
606681.0 BO-20140726020018253 2017-09-14 04:32:21
576591.0 BO-20150420190236256 2017-09-17 00:00:43
23920.0 BO-20150417050401103 2017-09-17 10:41:34
661245.0 BO-20161129112509591 2017-09-19 09:14:45
67882.0 BO-20140726015116419 2017-09-23 01:10:50
539244.0 BO-20150417020357111 2017-09-14 08:28:11
99136.0 BO-20160421101953446 2017-09-19 12:37:09
85564.0 BO-20160211190645586 2017-09-16 11:12:01
661593.0 BO-20160816133517071 2017-09-16 13:39:10
204116.0 BO-20141215134042810 2017-09-15 15:58:07
288645.0 BO-20141215134042810 2017-09-18 23:12:54
514221.0 BO-20150728165840602 2017-09-10 02:59:25
501437.0 BO-20150728165840733 2017-09-23 00:39:36
514221.0 BO-20150728165840733 2017-09-10 02:56:18
501437.0 BO-20151022134530110 2017-09-23 00:40:05
501437.0 BO-20160122145947057 2017-09-23 00:38:03
501437.0 BO-20160122145947219 2017-09-23 00:38:49
639152.0 BO-20160122145947219 2017-09-15 04:37:05
505156.0 BO-20150728165840315 2017-09-17 07:22:39
145973.0 BO-20160803085630728 2017-09-21 10:45:43
160944.0 BO-20160621113027839 2017-09-16 00:14:37
661593.0 BO-20160329105829415 2017-09-16 12:49:18
203746.0 BO-20160329105829421 2017-09-15 11:36:52
75654.0 BO-20150420190235219 2017-09-15 12:12:20
27087.0 BO-20151214182834652 2017-09-24 14:38:20
222314.0 BO-20150728165839998 2017-09-22 09:18:09
79892.0 BO-20140726014640978 2017-09-14 13:17:08
86471.0 BO-20150420190238087 2017-09-22 13:29:04
86471.0 BO-20150420190238087 2017-09-22 13:29:04
166155.0 BO-20170328160020028 2017-09-19 11:07:03
587862.0 BO-20150420190232771 2017-09-21 06:05:35
606681.0 BO-20140726020016742 2017-09-14 02:20:44
636275.0 BO-20150420190232528 2017-09-14 13:23:40
492564.0 BO-20141030210152474 2017-09-14 12:12:03
394382.0 BO-20160803085630675 2017-09-14 08:18:59
149701.0 BO-20160803085630678 2017-09-17 12:11:27
447654.0 BO-20150417020356388 2017-09-15 16:28:38
146540.0 BO-20150910101024866 2017-09-15 14:03:20
514221.0 BO-20160427153615823 2017-09-10 03:17:18
117200.0 BO-20140726015133038 2017-09-24 05:00:03
49623.0 BO-20150417020356328 2017-09-24 10:43:54
42438.0 BO-20150420190234775 2017-09-15 12:12:23
514221.0 BO-20160427153615857 2017-09-10 03:20:17
447654.0 BO-20170324112951521 2017-09-14 17:00:13
113927.0 BO-20150420190234973 2017-09-14 12:06:53
660828.0 BO-20150417020356752 2017-09-16 20:37:38
660828.0 BO-20150417020356756 2017-09-16 20:40:18
138570.0 BO-20150417020356867 2017-09-14 13:11:42
138570.0 BO-20150417020356870 2017-09-14 13:12:40
138570.0 BO-20150417020356873 2017-09-14 13:13:39
138570.0 BO-20150417020356876 2017-09-14 13:14:38
138570.0 BO-20150417020356879 2017-09-14 13:15:36
462330.0 BO-20141030210035175 2017-09-14 11:03:42
447654.0 BO-20150427220653272 2017-09-14 15:56:03
447654.0 BO-20150427220653277 2017-09-14 16:05:42
447654.0 BO-20150427220653281 2017-09-14 16:18:57
447654.0 BO-20150427220653284 2017-09-14 16:29:51
447654.0 BO-20150427220653288 2017-09-14 16:37:06
447654.0 BO-20150427220653291 2017-09-14 16:49:08
447654.0 BO-20150417020357151 2017-09-14 14:54:43
447654.0 BO-20150417020357154 2017-09-14 14:55:42
447654.0 BO-20150417020357158 2017-09-14 14:57:04
447654.0 BO-20150417020357161 2017-09-15 16:17:41
447654.0 BO-20150417020357164 2017-09-15 16:18:28
447654.0 BO-20150417020357167 2017-09-15 16:19:21
447654.0 BO-20150417020357170 2017-09-15 16:20:24
146540.0 BO-20150910101024858 2017-09-15 13:57:14
447654.0 BO-20150417020357176 2017-09-15 16:22:47
447654.0 BO-20150417020357179 2017-09-15 16:23:43
447654.0 BO-20150417020357182 2017-09-15 16:24:35
589114.0 BO-20160617171345580 2017-09-15 10:22:51
447654.0 BO-20150427220652949 2017-09-14 16:56:44
566371.0 BO-20141030210059968 2017-09-16 01:02:54
204116.0 BO-20150728165839180 2017-09-23 15:29:55
447654.0 BO-20150417020357185 2017-09-15 16:25:30
666300.0 BO-20161026170734962 2017-09-26 08:16:29
204116.0 BO-20150728165838808 2017-09-23 15:39:46
461484.0 BO-20170328160020192 2017-09-21 11:28:48

In [32]:
test_data[test_data['learner_id'] == 138570.0].sort_values(by='first_access_time')

,learner_id,book_code,events_count,first_access_time,learner_birthday,learner_gender,dob,age,Unnamed: 0_BM,BOOK_META_CODE,...,VALID_TYPE,VALID_EDTIME,MYTODAY_EXBT_CODE,JSON_DATA,SUB_BOOK_CODE,CRE_DTIME_BI,UPD_DTIME_BI,CRE_ID_BI,UPD_ID_BI,PAY_GROUP_CODE
209,138570.0,BO-20150417020356319,12,2017-09-14 14:13:23,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6336,BM-20150417020356319,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:48:56,BULK,BULK,PG001
210,138570.0,BO-20150417020356322,12,2017-09-14 14:18:15,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6337,BM-20150417020356322,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:48:56,BULK,BULK,PG001
295,138570.0,BO-20150417020356907,13,2017-09-14 13:16:45,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6523,BM-20150417020356907,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
296,138570.0,BO-20150417020356910,13,2017-09-14 13:17:48,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6524,BM-20150417020356910,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
297,138570.0,BO-20150417020356914,14,2017-09-14 13:18:41,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6525,BM-20150417020356914,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
298,138570.0,BO-20150417020356917,13,2017-09-14 13:19:33,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6526,BM-20150417020356917,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
299,138570.0,BO-20150417020356920,13,2017-09-14 13:20:22,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6527,BM-20150417020356920,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
300,138570.0,BO-20150417020356923,15,2017-09-14 13:21:40,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6528,BM-20150417020356923,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
301,138570.0,BO-20150417020356926,15,2017-09-14 13:22:37,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6529,BM-20150417020356926,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
302,138570.0,BO-20150417020356928,14,2017-09-14 13:23:20,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6530,BM-20150417020356929,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
303,138570.0,BO-20150417020356931,14,2017-09-14 13:24:10,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6531,BM-20150417020356932,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
304,138570.0,BO-20150417020356934,15,2017-09-14 13:25:11,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6532,BM-20150417020356934,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
305,138570.0,BO-20150417020356940,15,2017-09-14 13:25:59,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6534,BM-20150417020356940,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
306,138570.0,BO-20150417020356943,14,2017-09-14 13:26:44,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6535,BM-20150417020356943,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
307,138570.0,BO-20150417020356946,14,2017-09-14 13:27:49,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6536,BM-20150417020356946,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
308,138570.0,BO-20150417020356949,15,2017-09-14 13:29:12,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6537,BM-20150417020356949,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-05-29 16:38:00,BULK,ME-20150526103010725,PG001
309,138570.0,BO-20150417020356952,14,2017-09-14 13:30:15,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6538,BM-20150417020356952,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-05-29 16:39:30,BULK,ME-20150526103010725,PG001
310,138570.0,BO-20150417020356955,14,2017-09-14 13:31:16,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6539,BM-20150417020356955,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:02,BULK,BULK,PG001
311,138570.0,BO-20150417020356958,15,2017-09-14 13:32:02,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6540,BM-20150417020356958,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:02,BULK,BULK,PG001
312,138570.0,BO-20150417020356961,15,2017-09-14 13:32:44,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6541,BM-20150417020356962,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:02,BULK,BULK,PG001
313,138570.0,BO-20150417020356965,14,2017-09-14 13:33:38,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6542,BM-20150417020356965,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:02,BULK,BULK,PG001
314,138570.0,BO-20150417020356968,14,2017-09-14 13:34:46,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6543,BM-20150417020356968,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:02,BULK,BULK,PG001
315,138570.0,BO-20150417020356971,15,2017-09-14 13:35:47,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6544,BM-20150417020356971,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:02,BULK,BULK,PG001
316,138570.0,BO-20150417020356974,14,2017-09-14 13:36:42,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6545,BM-20150417020356974,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:02,BULK,BULK,PG001
433,138570.0,BO-20150417020356867,15,2017-09-14 13:11:42,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6510,BM-20150417020356867,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-06-01 14:57:45,BULK,ME-20140813173620316,PG001
434,138570.0,BO-20150417020356870,15,2017-09-14 13:12:40,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6511,BM-20150417020356870,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
435,138570.0,BO-20150417020356873,14,2017-09-14 13:13:39,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6512,BM-20150417020356873,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
436,138570.0,BO-20150417020356876,14,2017-09-14 13:14:38,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6513,BM-20150417020356876,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001
437,138570.0,BO-20150417020356879,14,2017-09-14 13:15:36,2010-03-06 15:00:00,male,2010-03-06 15:00:00,7.0,6514,BM-20150417020356879,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 2:04:11,2015-04-23 10:49:01,BULK,BULK,PG001

In [29]:
test_data[test_data['book_code'] == 'CT-20170914151011420']

,learner_id,book_code,events_count,learner_birthday,learner_gender,dob,age
6,16517,CT-20170914151011420,10,2006-06-19 15:00:00,male,2006-06-19 15:00:00,11.0
25,37387,CT-20170914151011420,11,2007-08-19 15:00:00,female,2007-08-19 15:00:00,10.0
35,39644,CT-20170914151011420,12,2007-03-29 15:00:00,female,2007-03-29 15:00:00,10.0
38,40177,CT-20170914151011420,12,2008-02-09 15:00:00,female,2008-02-09 15:00:00,9.0
78,53746,CT-20170914151011420,10,2009-04-30 15:00:00,female,2009-04-30 15:00:00,8.0
99,59269,CT-20170914151011420,12,2007-09-30 15:00:00,male,2007-09-30 15:00:00,10.0
124,70256,CT-20170914151011420,16,2008-10-28 15:00:00,male,2008-10-28 15:00:00,9.0
155,81750,CT-20170914151011420,20,2006-12-12 15:00:00,female,2006-12-12 15:00:00,10.0
158,81816,CT-20170914151011420,13,2008-04-21 15:00:00,male,2008-04-21 15:00:00,9.0
181,86299,CT-20170914151011420,17,2010-03-02 15:00:00,female,2010-03-02 15:00:00,7.0
208,90480,CT-20170914151011420,14,2009-03-20 15:00:00,male,2009-03-20 15:00:00,8.0
248,94376,CT-20170914151011420,11,2009-07-15 15:00:00,male,2009-07-15 15:00:00,8.0
282,96032,CT-20170914151011420,14,2008-11-05 15:00:00,male,2008-11-05 15:00:00,9.0
296,102367,CT-20170914151011420,44,2010-08-04 15:00:00,male,2010-08-04 15:00:00,7.0
301,105842,CT-20170914151011420,12,2010-03-01 15:00:00,male,2010-03-01 15:00:00,7.0
313,107284,CT-20170914151011420,11,2010-01-31 15:00:00,male,2010-01-31 15:00:00,7.0
344,113916,CT-20170914151011420,12,2008-02-27 15:00:00,male,2008-02-27 15:00:00,9.0
351,114561,CT-20170914151011420,10,2009-01-21 15:00:00,male,2009-01-21 15:00:00,8.0
369,120474,CT-20170914151011420,35,2007-06-29 15:00:00,female,2007-06-29 15:00:00,10.0
370,121230,CT-20170914151011420,10,2009-08-06 15:00:00,female,2009-08-06 15:00:00,8.0
371,121574,CT-20170914151011420,20,2010-03-21 15:00:00,male,2010-03-21 15:00:00,7.0
385,125940,CT-20170914151011420,17,2010-05-26 15:00:00,male,2010-05-26 15:00:00,7.0
392,127196,CT-20170914151011420,17,2010-01-12 15:00:00,male,2010-01-12 15:00:00,7.0
411,130372,CT-20170914151011420,10,2009-11-01 15:00:00,male,2009-11-01 15:00:00,8.0
412,130372,CT-20170914151011420,10,2009-11-02 00:00:00,male,2009-11-02 00:00:00,8.0
413,130664,CT-20170914151011420,11,2009-07-13 15:00:00,male,2009-07-13 15:00:00,8.0
425,134554,CT-20170914151011420,12,2007-05-31 15:00:00,male,2007-05-31 15:00:00,10.0
426,135573,CT-20170914151011420,16,2007-06-29 15:00:00,male,2007-06-29 15:00:00,10.0
430,136893,CT-20170914151011420,10,2008-04-04 15:00:00,female,2008-04-04 15:00:00,9.0
448,141731,CT-20170914151011420,20,2009-09-20 15:00:00,female,2009-09-20 15:00:00,8.0
...,...,...,...,...,...,...,...
1127,378841,CT-20170914151011420,10,2010-03-26 15:00:00,male,2010-03-26 15:00:00,7.0
1128,381077,CT-20170914151011420,12,2008-08-17 15:00:00,male,2008-08-17 15:00:00,9.0
1146,397893,CT-20170914151011420,11,2010-08-18 15:00:00,female,2010-08-18 15:00:00,7.0
1160,407531,CT-20170914151011420,10,2010-09-27 15:00:00,male,2010-09-27 15:00:00,7.0
1161,407531,CT-20170914151011420,10,2010-09-28 00:00:00,male,2010-09-28 00:00:00,7.0
1165,411721,CT-20170914151011420,13,2009-12-20 15:00:00,female,2009-12-20 15:00:00,7.0
1220,430860,CT-20170914151011420,10,2010-12-21 15:00:00,male,2010-12-21 15:00:00,6.0
1224,433616,CT-20170914151011420,15,2009-08-08 15:00:00,male,2009-08-08 15:00:00,8.0
1308,460227,CT-20170914151011420,17,2007-07-26 15:00:00,male,2007-07-26 15:00:00,10.0
1327,462330,CT-20170914151011420,18,2010-12-06 15:00:00,male,2010-12-06 15:00:00,6.0
1332,468061,CT-20170914151011420,12,2009-03-16 15:00:00,female,2009-03-16 15:00:00,8.0
1346,472949,CT-20170914151011420,10,2010-09-12 15:00:00,female,2010-09-12 15:00:00,7.0
1369,485017,CT-20170914151011420,20,2010-05-30 15:00:00,male,2010-05-30 15:00:00,7.0
1373,490781,CT-20170914151011420,13,2009-12-29 15:00:00,male,2009-12-29 15:00:00,7.0
1406,497600,CT-20170914151011420,10,2008-07-10 15:00:00,male,2008-07-10 15:00:00,9.0
1419,499978,CT-20170914151011420,38,2012-08-04 15:00:00,male,2012-08-04 15:00:00,5.0
1423,504174,CT-20170914151011420,31,2011-08-11 15:00:00,male,2011-08-11 15:00:00,6.0
1472,518456,CT-20170914151011420,11,2009-11-26 15:00:00,female,2009-11-26 15:00:00,7.0
1478,522100,CT-20170914151011420,10,2009-09-04 15:00:00,male,2009-09-04 15:00:00,8.0
1651,626762,CT-20170914151011420,10,2010-05-01 15:00:00,female,2010-05-01 15:00:00,7.0
1652,626799,CT-20170914151011420,12,2008-08-29 15:00:00,male,2008-08-29 15:00:00,9.0
1658,630098,CT-20170914151011420,12,2009-08-20 15:00:00,male,2009-08-20 15:00:00,8.0
1670,630691,CT-20170914151011420,76,2010-01-27 15:00:00,female,2010-01-27 15:00:00,7.0
1678,633484,CT-20170914151011420,11,2007-11-27 15:00:00,female,2007-11-27 15:00:00,9.0
1680,635359,CT-20170914151011420,16,2008-08-20 15:00:00,male,2008-08-20 15:00:00,9.0
1688,636966,CT-20170914151011420,15,2007-08-03 15:00:00,male,2007-08-03 15:00:00,10.0
1699,642558,CT-20170914151011420,10,2010-01-13 15:00:00,male,2010-01-13 15:00:00,7.0
1703,643665,CT-20170914151011420,14,2010-06-27 15:00:00,female,2010-06-27 15:00:00,7.0
1746,654737,CT-20170914151011420,37,2010-09-28 15:00:00,male,2010-09-28 15:00:00,7.0
1779,662569,CT-20170914151011420,26,2010-01-25 15:00:00,female,2010-01-25 15:00:00,7.0

In [14]:
train_data['age'].describe()

count    7473.000000
mean        7.675231
std         1.479734
min         5.000000
25%         7.000000
50%         7.000000
75%         8.000000
max        16.000000
Name: age, dtype: float64

In [15]:
train_data['age'].value_counts()

7.0     2964
8.0     1606
6.0      902
9.0      868
11.0     396
10.0     336
5.0      290
12.0      89
13.0      15
16.0       5
14.0       2
Name: age, dtype: int64

In [16]:
test_data['age'].describe()

count    1792.000000
mean        7.853795
std         1.455787
min         5.000000
25%         7.000000
50%         8.000000
75%         9.000000
max        13.000000
Name: age, dtype: float64

In [8]:
train_data[train_data['age'] == 117]

,learner_id,book_code,events_count,learner_birthday,learner_gender,dob,age
469389,180218,BO-20140726013816348,1,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469390,180218,BO-20150417044756798,1,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469391,180218,BO-20150417050359409,1,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469392,180218,BO-20150420190236645,2,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469393,180218,BO-20150420190236668,1,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469394,180218,BO-20161026171155781,6,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469395,180218,BO-20161226152837329,1,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469396,180218,BO-20170616142739112,2,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469397,180218,BO-20170821132107208,2,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0
469398,180218,BO-20170821132107586,1,1899-12-31 15:30:00,male,1899-12-31 15:30:00,117.0

In [17]:
user_id_col = 'learner_id'
item_id_col = 'book_code'
no_of_recs = 10

In [19]:
train_data_grouped = train_data.groupby(['learner_gender', 'age', item_id_col])\
                               .agg({user_id_col: 'count'})\
                               .reset_index()
all_books = set(train_data[item_id_col].unique())
print("all_books : ", len(all_books))
male_train_data = train_data_grouped[train_data_grouped['learner_gender'] == 'male']
male_books = set(male_train_data[item_id_col].unique())
print("male_books : ", len(male_books))
female_train_data = train_data_grouped[train_data_grouped['learner_gender'] == 'female']
female_books = set(female_train_data[item_id_col].unique())
print("female_books : ", len(female_books))
mf_books = male_books.intersection(female_books)
print("mf_books : ", len(mf_books))
# train_data_grouped.rename(columns={user_id_col:'no_of_users',
#                                    item_id_col:'item_id'},
#                           inplace=True)

# #Sort the items based upon popularity score : no_of_users
# train_data_sort = train_data_grouped.sort_values(['no_of_users', 'item_id'],
#                                                  ascending=[0, 1])

# #Generate a recommendation rank based upon score : no_of_users
# train_data_sort['rank'] = train_data_sort['no_of_users']\
#                           .rank(ascending=0, method='first')
# train_data_sort.reset_index(drop=True, inplace=True)

# recommendations = train_data_sort.head(no_of_recs)

all_books :  1305
male_books :  1010
female_books :  637
mf_books :  342

In [20]:
male_train_data.head()

    learner_gender  age             book_code  learner_id
988           male  5.0  BO-20140726015054761           1
989           male  5.0  BO-20140726015530182           1
990           male  5.0  BO-20140726020038396           1
991           male  5.0  BO-20140726020038899           1
992           male  5.0  BO-20140726020039907           1

In [21]:
male_train_data['age'].describe()

count    1764.000000
mean        7.905896
std         1.844859
min         5.000000
25%         7.000000
50%         8.000000
75%         9.000000
max        16.000000
Name: age, dtype: float64

In [22]:
female_train_data['age'].describe()

count    988.000000
mean       7.930162
std        1.577508
min        5.000000
25%        7.000000
50%        8.000000
75%        9.000000
max       16.000000
Name: age, dtype: float64

In [11]:
train_data_grouped = train_data.groupby([item_id_col])\
                               .agg({user_id_col: 'count'})\
                               .reset_index()
train_data_grouped.rename(columns={user_id_col:'no_of_users',
                                   item_id_col:'item_id'},
                          inplace=True)

#Sort the items based upon popularity score : no_of_users
train_data_sort = train_data_grouped.sort_values(['no_of_users', 'item_id'],
                                                 ascending=[0, 1])

#Generate a recommendation rank based upon score : no_of_users
train_data_sort['rank'] = train_data_sort['no_of_users']\
                          .rank(ascending=0, method='first')
train_data_sort.reset_index(drop=True, inplace=True)

recommendations = train_data_sort.head(no_of_recs)
recommendations

                item_id  no_of_users  rank
0  CT-20160317091228430           52   1.0
1  CT-20160316150550038           44   2.0
2  BO-20170627173817922           39   3.0
3  CT-20160316150540303           33   4.0
4  CT-20170829173725795           27   5.0
5  CT-20161118145842174           24   6.0
6  CT-20160324103235064           23   7.0
7  CT-20160308173204325           21   8.0
8  BO-20170821132107257           18   9.0
9  BO-20170821132107208           17  10.0

In [12]:
train_data.head()

,learner_id,no_of_books,book_code,events_count,learner_birthday,learner_gender,dob,age
0,215006,26,BO-20170821132107257,26,2010-09-11 15:00:00,male,2010-09-11 15:00:00,7.0
1,309247,42,BO-20150417020356510,16,2009-11-01 15:00:00,male,2009-11-01 15:00:00,8.0
2,379944,15,CT-20170904174456319,13,2008-09-19 15:00:00,female,2008-09-19 15:00:00,9.0
3,90562,10,CT-20160324155302588,17,2007-07-22 15:00:00,male,2007-07-22 15:00:00,10.0
4,447654,42,BO-20150417020357164,10,2010-01-15 15:00:00,male,2010-01-15 15:00:00,7.0

In [13]:
train_data['age'].unique()

array([  7.,   8.,   9.,  10.,  12.,   6.,   5.,   3.,   4.,  13.,  11.])

In [23]:
train_data_grouped = train_data.groupby(['learner_gender', 'age', item_id_col])\
                               .agg({user_id_col: 'count'})\
                               .reset_index()
# train_data_grouped.rename(columns={user_id_col:'no_of_users',
#                                    item_id_col:'item_id'},
#                           inplace=True)

# #Sort the items based upon popularity score : no_of_users
# train_data_sort = train_data_grouped.sort_values(['no_of_users', 'item_id'],
#                                                  ascending=[0, 1])

# #Generate a recommendation rank based upon score : no_of_users
# train_data_sort['rank'] = train_data_sort['no_of_users']\
#                           .rank(ascending=0, method='first')
# train_data_sort.reset_index(drop=True, inplace=True)

# recommendations = train_data_sort#.head(no_of_recs)
# recommendations
train_data_grouped
print(train_data_grouped[train_data_grouped['learner_gender'] == 'female']['age'].unique())
print(train_data_grouped[train_data_grouped['learner_gender'] == 'male']['age'].unique())

[  5.   6.   7.   8.   9.  10.  11.  12.  13.  14.  16.]
[  5.   6.   7.   8.   9.  10.  11.  12.  13.  16.]

In [25]:
male_5_yr_df = train_data_grouped[(train_data_grouped['learner_gender'] == 'male') & (train_data_grouped['age'] == 5)]
male_5_yr_df.head()

    learner_gender  age             book_code  learner_id
988           male  5.0  BO-20140726015054761           1
989           male  5.0  BO-20140726015530182           1
990           male  5.0  BO-20140726020038396           1
991           male  5.0  BO-20140726020038899           1
992           male  5.0  BO-20140726020039907           1

In [16]:
male_3_yr_grouped = male_3_yr_df.groupby([item_id_col])\
                                 .agg({user_id_col: 'count'})\
                                 .reset_index()
male_3_yr_grouped.rename(columns={user_id_col:'no_of_users',
                                   item_id_col:'item_id'},
                          inplace=True)

#Sort the items based upon popularity score : no_of_users
male_3_yr_sort = male_3_yr_grouped.sort_values(['no_of_users', 'item_id'],
                                                 ascending=[0, 1])

#Generate a recommendation rank based upon score : no_of_users
male_3_yr_sort['rank'] = male_3_yr_sort['no_of_users']\
                          .rank(ascending=0, method='first')
male_3_yr_sort.reset_index(drop=True, inplace=True)

recommendations = male_3_yr_sort.head(no_of_recs)
recommendations

                item_id  no_of_users  rank
0  BO-20140726020216596            1   1.0
1  BO-20150417020357111            1   2.0
2  BO-20150417020357116            1   3.0
3  BO-20150417020357122            1   4.0
4  BO-20150417044756134            1   5.0
5  BO-20160122145947100            1   6.0
6  BO-20160122145947245            1   7.0
7  BO-20160226183933589            1   8.0
8  BO-20160329105829345            1   9.0
9  BO-20160617171910410            1  10.0

In [17]:
book_code = 'BO-20140726020216596'
book_code = 'BO-20160122145947100'
train_data[train_data['book_code'] == book_code]

,learner_id,no_of_books,book_code,events_count,learner_birthday,learner_gender,dob,age
394,551904,11,BO-20160122145947100,19,2014-02-22 00:00:00,male,2014-02-22 00:00:00,3.0