In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('recommender_system/books_recommender/train_test_data/train_data.csv')
test_data = pd.read_csv('recommender_system/books_recommender/train_test_data/test_data.csv')

In [3]:
train_data.head()

,learner_id,book_code,events_count,learner_birthday,learner_gender,dob,age
0,2295,BO-20160530143321739,14,2005-01-18 15:00:00,male,2005-01-18 15:00:00,12.0
1,2295,BO-20160530143321782,12,2005-01-18 15:00:00,male,2005-01-18 15:00:00,12.0
2,2295,BO-20160927142407870,16,2005-01-18 15:00:00,male,2005-01-18 15:00:00,12.0
3,2295,BO-20170224150632141,15,2005-01-18 15:00:00,male,2005-01-18 15:00:00,12.0
4,2870,BO-20170526161954132,10,2005-11-22 15:00:00,female,2005-11-22 15:00:00,11.0

In [7]:
user_id_col = 'learner_id'
item_id_col = 'book_code'
train_data_grouped = train_data.groupby([item_id_col])\
                                            .agg({user_id_col: 'count'})\
                                            .reset_index()
train_data_grouped.rename(columns={user_id_col:'no_of_users',
                                   item_id_col:'item_id'},
                          inplace=True)

#Sort the items based upon popularity score : no_of_users
train_data_sort = train_data_grouped.sort_values(['no_of_users', 'item_id'],
                                                 ascending=[0, 1])

#Generate a recommendation rank based upon score : no_of_users
train_data_sort['rank'] = train_data_sort['no_of_users']\
                          .rank(ascending=0, method='first')
train_data_sort.reset_index(drop=True, inplace=True)
train_data_sort

                   item_id  no_of_users    rank
0     CT-20160317091228430          589     1.0
1     BO-20170627173817922          490     2.0
2     CT-20170914151011420          445     3.0
3     CT-20160316150550038          420     4.0
4     CT-20170829173725795          238     5.0
5     CT-20160316150540303          187     6.0
6     CT-20161118145842174          180     7.0
7     BO-20170821132107285          143     8.0
8     CT-20170914093026234          142     9.0
9     CT-20170911155837615          137    10.0
10    BO-20170821132107257          120    11.0
11    CT-20160324103235064          116    12.0
12    BO-20170821132107586          111    13.0
13    CT-20170829174223880          110    14.0
14    BO-20170821132107208          107    15.0
15    CT-20160308173204325           87    16.0
16    CT-20160324155220625           85    17.0
17    BO-20150420190236662           84    18.0
18    CT-20160324155232897           74    19.0
19    CT-20170913161231433           71    20.0
20    CT-20170803104057664           60    21.0
21    BO-20161026171156631           59    22.0
22    CT-20170913161214081           55    23.0
23    BO-20170627173817926           52    24.0
24    CT-20170911155832746           52    25.0
25    CT-20161118145459152           51    26.0
26    CT-20170914093011394           50    27.0
27    BO-20161026171156646           48    28.0
28    BO-20170724102316479           46    29.0
29    CT-20170830105310551           43    30.0
...                    ...          ...     ...
1263  CT-20170728164714355            1  1264.0
1264  CT-20170728170639465            1  1265.0
1265  CT-20170803095624945            1  1266.0
1266  CT-20170811155955997            1  1267.0
1267  CT-20170822134107629            1  1268.0
1268  CT-20170823113140719            1  1269.0
1269  CT-20170823135128131            1  1270.0
1270  CT-20170825144359012            1  1271.0
1271  CT-20170825151054196            1  1272.0
1272  CT-20170825154425115            1  1273.0
1273  CT-20170825165733082            1  1274.0
1274  CT-20170828113942827            1  1275.0
1275  CT-20170828143914759            1  1276.0
1276  CT-20170828144529635            1  1277.0
1277  CT-20170828163335173            1  1278.0
1278  CT-20170829164552926            1  1279.0
1279  CT-20170829170116207            1  1280.0
1280  CT-20170829170149690            1  1281.0
1281  CT-20170829173117649            1  1282.0
1282  CT-20170830151938233            1  1283.0
1283  CT-20170830151942780            1  1284.0
1284  CT-20170830151946294            1  1285.0
1285  CT-20170830162740869            1  1286.0
1286  CT-20170830164236439            1  1287.0
1287  CT-20170905171610800            1  1288.0
1288  CT-20170905172124093            1  1289.0
1289  CT-20170906155326096            1  1290.0
1290  CT-20170907091139573            1  1291.0
1291  CT-20170907091141782            1  1292.0
1292  CT-20170911155251969            1  1293.0

[1293 rows x 3 columns]

In [48]:
def filter_data_frame(dataframe, feature):
    feature_vals = dataframe[feature].unique()
    filtered_dfs = dict()
    for val in feature_vals:
        filtered_dfs[val] = dataframe[dataframe[feature] == val]
    return filtered_dfs

def feature_filters(dataframe, features):
    print(features, len(dataframe))
    for feature in features:
        filtered_dfs = filter_data_frame(dataframe, feature)
        print(filtered_dfs.keys())
        for val, df in filtered_dfs.items():
            remaining_features = features[1:]
            if len(remaining_features) == 0:
                print(val)
                print(df.head())
                #input()
            else:
                feature_filters(df, remaining_features)

In [ ]:
def get_filters(dataframe, features):
    for feature in features:
        feature_vals = dataframe[feature].unique()
        for val in feature_vals:
            dataframe[dataframe[feature] == val]

In [58]:
user_id_col = 'learner_id'
item_id_col = 'book_code'
feature_filters = {'learner_gender' : 'female', 'age' : 5.0}
features = list(feature_filters.keys())
train_data_grouped = train_data.groupby(features + [item_id_col])\
                                            .agg({user_id_col: 'count'})\
                                            .reset_index()
train_data_grouped.rename(columns={user_id_col:'no_of_users',
                                   item_id_col:'item_id'},
                          inplace=True)
filters = (train_data_grouped['learner_gender'] == 'female') & (train_data_grouped['age'] == 5.0)
train_data_grouped = train_data_grouped[filters]
#Sort the items based upon popularity score : no_of_users
train_data_sort = train_data_grouped.sort_values(['no_of_users', 'item_id'],
                                                 ascending=[0, 1])

#Generate a recommendation rank based upon score : no_of_users
train_data_sort['rank'] = train_data_sort['no_of_users']\
                          .rank(ascending=0, method='first')
train_data_sort.reset_index(drop=True, inplace=True)
train_data_sort

   learner_gender  age               item_id  no_of_users  rank
0          female  5.0  BO-20170627173817922            4   1.0
1          female  5.0  CT-20160317091228430            4   2.0
2          female  5.0  CT-20160316150550038            3   3.0
3          female  5.0  CT-20170914151011420            3   4.0
4          female  5.0  BO-20150420190235361            1   5.0
5          female  5.0  BO-20170526160702953            1   6.0
6          female  5.0  BO-20170627173817926            1   7.0
7          female  5.0  BO-20170821132107586            1   8.0
8          female  5.0  BO-20170821132107627            1   9.0
9          female  5.0  BO-20170821132107847            1  10.0
10         female  5.0  BO-20170821132107855            1  11.0
11         female  5.0  CT-20160316150540303            1  12.0
12         female  5.0  CT-20160324103235064            1  13.0
13         female  5.0  CT-20160324155220625            1  14.0
14         female  5.0  CT-20170829173725795            1  15.0
15         female  5.0  CT-20170829174223880            1  16.0

In [70]:
user_id_col = 'learner_id'
item_id_col = 'book_code'
# features = ['learner_gender', 'age']
# feature_filters = {'learner_gender' : 'female', 'age' : 12.0}

features = ['learner_gender']
feature_filters = {'learner_gender' : 'female'}

# features = ['age']
# feature_filters = {'age' : 5.0}

train_data_grouped = train_data.groupby(features + [item_id_col])\
                                            .agg({user_id_col: 'count'})\
                                            .reset_index()
train_data_grouped.rename(columns={user_id_col:'no_of_users',
                                   item_id_col:'item_id'},
                          inplace=True)

#feature_filters = {'learner_gender' : 'female', 'age' : 12.0}
for feature, val in feature_filters.items():
    train_data_grouped = train_data_grouped[train_data_grouped[feature] == val]

#Sort the items based upon popularity score : no_of_users
train_data_sort = train_data_grouped.sort_values(['no_of_users', 'item_id'],
                                                 ascending=[0, 1])

#Generate a recommendation rank based upon score : no_of_users
train_data_sort['rank'] = train_data_sort['no_of_users']\
                          .rank(ascending=0, method='first')
train_data_sort.reset_index(drop=True, inplace=True)
train_data_sort

    learner_gender               item_id  no_of_users   rank
0           female  BO-20170627173817922          268    1.0
1           female  CT-20160317091228430          252    2.0
2           female  CT-20160316150550038          169    3.0
3           female  CT-20170914151011420          146    4.0
4           female  CT-20170829173725795          116    5.0
5           female  CT-20160316150540303           83    6.0
6           female  BO-20170821132107285           64    7.0
7           female  CT-20161118145842174           62    8.0
8           female  CT-20160324103235064           59    9.0
9           female  CT-20170911155837615           56   10.0
10          female  CT-20170829174223880           55   11.0
11          female  BO-20170821132107208           52   12.0
12          female  BO-20170821132107257           50   13.0
13          female  BO-20170821132107586           42   14.0
14          female  CT-20170914093026234           42   15.0
15          female  CT-20160308173204325           40   16.0
16          female  CT-20160324155232897           34   17.0
17          female  CT-20160324155220625           31   18.0
18          female  CT-20170803104057664           26   19.0
19          female  BO-20150420190236662           24   20.0
20          female  BO-20161026171156631           24   21.0
21          female  CT-20170913161231433           24   22.0
22          female  BO-20170627173817926           22   23.0
23          female  CT-20170901160530262           21   24.0
24          female  BO-20161026171156646           20   25.0
25          female  CT-20161118145459152           20   26.0
26          female  CT-20170830105310551           18   27.0
27          female  CT-20160308172154663           17   28.0
28          female  CT-20161118150202875           15   29.0
29          female  CT-20170911155832746           15   30.0
..             ...                   ...          ...    ...
587         female  CT-20170712133717946            1  588.0
588         female  CT-20170725151536847            1  589.0
589         female  CT-20170725160654024            1  590.0
590         female  CT-20170725170757413            1  591.0
591         female  CT-20170728144711627            1  592.0
592         female  CT-20170728154712934            1  593.0
593         female  CT-20170728161232339            1  594.0
594         female  CT-20170803104202549            1  595.0
595         female  CT-20170821114608059            1  596.0
596         female  CT-20170823113140719            1  597.0
597         female  CT-20170823135128131            1  598.0
598         female  CT-20170825151054196            1  599.0
599         female  CT-20170825153314812            1  600.0
600         female  CT-20170828145328960            1  601.0
601         female  CT-20170828161132201            1  602.0
602         female  CT-20170829164552926            1  603.0
603         female  CT-20170829170116207            1  604.0
604         female  CT-20170829170149690            1  605.0
605         female  CT-20170830151942780            1  606.0
606         female  CT-20170830164235269            1  607.0
607         female  CT-20170830164236439            1  608.0
608         female  CT-20170831095146336            1  609.0
609         female  CT-20170904174456319            1  610.0
610         female  CT-20170904174459046            1  611.0
611         female  CT-20170906155328365            1  612.0
612         female  CT-20170906155336699            1  613.0
613         female  CT-20170911155251969            1  614.0
614         female  CT-20170911155532132            1  615.0
615         female  CT-20170914151020008            1  616.0
616         female  CT-20170914151022198            1  617.0

[617 rows x 4 columns]

In [71]:
#train_data[(train_data['learner_gender'] == 'female') & (train_data['age'] == 12.0) & (train_data['book_code'] == 'BO-20170627173817922')]
#train_data[(train_data['age'] == 5.0) & (train_data['book_code'] == 'BO-20170627173817922')]
train_data[(train_data['learner_gender'] == 'female') & (train_data['book_code'] == 'CT-20170911155832746')]

,learner_id,book_code,events_count,learner_birthday,learner_gender,dob,age
442,62536,CT-20170911155832746,10,2008-10-13 15:00:00,female,2008-10-13 15:00:00,9.0
941,96304,CT-20170911155832746,11,2010-10-31 15:00:00,female,2010-10-31 15:00:00,7.0
2167,155736,CT-20170911155832746,16,2010-10-01 15:00:00,female,2010-10-01 15:00:00,7.0
2199,157640,CT-20170911155832746,24,2011-04-14 15:00:00,female,2011-04-14 15:00:00,6.0
2435,170363,CT-20170911155832746,19,2011-10-17 15:00:00,female,2011-10-17 15:00:00,6.0
2612,180901,CT-20170911155832746,11,2007-03-18 15:00:00,female,2007-03-18 15:00:00,10.0
2781,189340,CT-20170911155832746,12,2010-10-27 15:00:00,female,2010-10-27 15:00:00,7.0
3717,266167,CT-20170911155832746,11,2009-07-23 15:00:00,female,2009-07-23 15:00:00,8.0
4614,370883,CT-20170911155832746,23,2010-01-26 15:00:00,female,2010-01-26 15:00:00,7.0
4729,381832,CT-20170911155832746,13,2006-08-01 15:00:00,female,2006-08-01 15:00:00,11.0
5184,425459,CT-20170911155832746,10,2008-06-07 15:00:00,female,2008-06-07 15:00:00,9.0
5207,427330,CT-20170911155832746,10,2010-03-05 15:00:00,female,2010-03-05 15:00:00,7.0
5729,484665,CT-20170911155832746,25,2010-10-13 15:00:00,female,2010-10-13 15:00:00,7.0
5907,500917,CT-20170911155832746,10,2010-03-19 15:00:00,female,2010-03-19 15:00:00,7.0
6044,508128,CT-20170911155832746,10,2010-04-10 15:00:00,female,2010-04-10 15:00:00,7.0